* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: hsl(222, 26%, 31%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 300px;
  display: flex;
  margin-bottom: 1rem;
  color: white;
  justify-content: space-between;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.6rem;
}

.button {
  width: 60px;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 5%;
  font-size: large;
  font-weight: bold;
}

.big-button {
  border: none;
  border-radius: 5%;
  width: 130px;
  height: 34px;
  font-size: large;
  font-weight: bold;
}

.buttons {
  padding: 1rem;
  border-radius: 2%;
  background-color: hsl(223, 31%, 20%);
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 2%;
  padding: 20px;
  width: 300px;
  height: 60px;
  color: white;
  margin-bottom: 1rem;
  background-color: hsl(223, 31%, 20%);
  font-size: 30px;
  font-weight: 600;
}

.centered {
  margin-block: auto;
}

.color {
  font-size: large;
  font-weight: 600;
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0px 2px 1px hsl(28deg 16% 65%);
  color: hsl(221, 14%, 31%);
}

.color-2 {
  color: white;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 2px 1px hsl(224, 28%, 35%);
  font-size: small;
  font-weight: 600;
}

.red {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 2px 1px hsl(6, 70%, 34%);
  color: white;
}

button {
  cursor: pointer;
}

.toggle_radio {
  display: flex;
  flex-direction: column;
}

.labels {
  display: flex;
  justify-content: space-around;
}

.inputs {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  position: relative;
  /* padding-inline: 10px; */
}
.inputs input {
  width: auto;
  height: auto;
  opacity: 0;
  cursor: pointer;
}

.toggle_option_slider {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 5px;

  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#first_toggle:checked ~ .toggle_option_slider {
  background: rgba(255, 255, 255, 0.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider {
  background: rgba(255, 255, 255, 0.3);
  left: 18px;
}
#third_toggle:checked ~ .toggle_option_slider {
  background: rgba(255, 255, 255, 0.3);
  left: 33px;
}
